allure-robotframework
awscli
axe-selenium-python
boto3
botocore
configobj
coverage
lxml
mock
pyjwt
pyotp
pytest-axe
requests
robotframework
robotframework-dependencylibrary
robotframework-extendedselenium2library
robotframework-jsonlibrary
robotframework-lint
robotframework-metrics
robotframework-pabot
robotframework-requests
robotframework-robocop
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary
robotframework-tidy
selenium==4.9.1
testfixtures
urllib3